.p {
  font-size: var(--p, 1rem);
}
.small {
  font-size: var(--small, 0.75rem);
}

.h1 {
  font-size: var(--h1, 2.986rem);
}

.h2 {
  font-size: var(--h2, 2.488rem);
}

.h3 {
  font-weight: normal;
  font-size: var(--h3, 1.728rem);
}

.a {
  font-size: var(--p, 1rem);
}
