.selected p {
  color: var(--primary-lighten);
}

.selected button {
  flex-direction: column;
  background-color: var(--accent-hover, #333);
}

.navLink button {
  flex-direction: column;
}

.navLink, .selected {
  text-decoration: none;
}
