.page {
  display: flex;
  flex-direction: column; /* if you want stacking */
  align-items: flex-start; /* no vertical centering */
  padding: 2rem 2rem 6rem;
  gap: 64px;
  flex-wrap: wrap;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  del {
    border: 1px solid var(--text);
  }
}

.buttons {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}


