.selected {
  p {
    color: var(--primary-lighten);
  }
  button {
    flex-direction: column;
    background-color: var(--accent-hover, #333);
  }
}
.navLink {
  button {
    flex-direction: column;
  }
}