

.optionBase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.optionHover {
  background-color: var(--accent-hover);
  color: var(--primary-lighten);
}

.optionSelected {
  background-color: var(--primary); /* blue-100 */
  color: var(--text);
  font-weight: 500;
}

.optionUnselected {
  color: var(--text); /* gray-900 */
}

.noOptions {
  padding: 0.75rem 1rem;
  color: var(--secondary);
  font-size: 14px;
}
