.container {
  position: relative;
  width: 100%;
  outline: none;
}



.selectedText {
  color: var(--text); /* gray-900 */
}

.placeholderText {
  color: var(--secondary); /* gray-500 */
}




.checkIcon {
  width: 16px;
  height: 16px;
  color: #2563eb; /* blue-600 */
}