.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  min-height: 48px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  background-color: var(--accent);
}

.preview:disabled {
  background-color: #f3f4f6;
  border-color: #d1d5db; 
  color: #9ca3af;
  cursor: not-allowed;
}

.preview:open {
  border-color: var(--primary-lighten);
  border-width: 2px;
}

.preview:not(:open) {
  border-color: var(--border);
}