.search-bar {
    background-color: var(--accent);
    padding: 1.5rem 3rem;
    display: flex;
    gap: 3rem;

    border: 1px solid var(--border);
    border-radius: var(--button-radius, 12px);

    width: 100%;
    max-width: 1000px;
}

.search-input {
    color: var(--text);
    font-size: var(--h3);
    background-color: transparent;
    border: none;
    width: 100%;
}

.search-input::placeholder {
    color: var(--secondary);
}

.search-input:focus {
    outline: none;
}

