body {
  background-color: #1E1E1E;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.5rem;

  border-radius: var(--Corner-Radius-Button, 0.75rem);
  border: 1px solid var(--Colors-Border, #333);
  background: var(--Colors-Accent, #262626);

  transition: border 0.2s ease-out;
  color: white;

  &:hover,
  &:focus-visible {
    border: 1px solid var(--Colors-Primary, #4C9AFF);
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-out;
  }

  &:active {
    transform: scale(0.95);
    background-color: var(--Colors-Primary, #4C9AFF);
  }
}
