button.normal {
  &:hover,
  &:focus-visible {
    border: 1px solid var(--primary, #4C9AFF);
  }

  &:active {
    background-color: var(--primary, #4C9AFF);
  }
}

button.reversed {
  background-color: var(--primary, #4C9AFF);

  &:hover,
  &:focus-visible {
    border: 1px solid var(--text);
  }

  &:active {
    background-color: var(--primary-lighten);
  }
}

