
:root {
  --primary: hsla(214, 100%, 65%, 1);
  --primary-lighten: hsla(214, 100%, 75%, 1);
  --text: hsla(0, 0%, 100%, 1);
  --accent: hsla(0, 0%, 15%, 1);
  --accent-hover: #333;
  --secondary: hsla(0, 0%, 36%, 1);
  --background: hsla(0, 0%, 12%, 1);
  --border: hsla(0, 0%, 20%, 1);

  --checkbox-padding: 0.7rem;
  --checkbox-border-radius: .4rem;
  --checkbox-radius: hsla(0, 0%, 40%, 1);
  --checkbox-bg: var(--accent);

  --card-radius: 1.5rem;
  --tag-radius: 0.25rem;
  --badge-radius: 0.25rem;
  --button-radius: 0.75rem;

  /* Headings */
  --headline: clamp(2.5rem, 4.5vw, 4rem);   /* Big display headline */
  --subtitle: clamp(1.5rem, 2.5vw, 2.25rem); /* Subtitle */
  --h1: clamp(1.4rem, 1.4vw, 2.4rem);
  --h2: clamp(1.1rem, 1.3vw, 1.8rem);
  --h3: clamp(0.9rem, 1vw, 1.2rem);


  /* Body text */
  --p: clamp(1rem, 1.2vw, 1.25rem);
  --small: clamp(0.75rem, 1vw, 0.9rem);

  // Card
  --card-border-width: 1px;
  --card-border-radius: 1rem;
  --card-transition-fast: 0.2s ease-in-out;
  --card-transition-medium: 0.25s ease;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}

p {
  font-size: var(--p);
}

small {
  font-size: var(--small);

}

button {
  -webkit-tap-highlight-color: transparent;
  height: 4rem;
  min-width: 5.125rem;
  max-width: 16rem;
  font-family: inherit;
  background-color: var(--accent, #262626);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: clamp(1rem, 1.2vw, 1.5rem);
  color: var(--text);

  transition: transform 0.15s ease-out, background-color 0.2s ease-out, opacity 0.2s ease-out;
  will-change: transform, background-color, opacity;

  border: 1px solid var(--border, #333);
  border-radius: var(--button-radius, 0.75rem);

  /* Press effect */
  &:active {
    transform: scale(0.95);
  }

  /* Hover/focus styles */
  &:hover,
  &:focus-visible {
    cursor: pointer;
    outline: none;
    background-color: var(--accent-hover, #333);
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


