.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 15vw;
  min-height: calc(100vh - 5rem);
  padding-bottom: 5rem;
  padding-top: 5rem;
}

@media (max-width: 1400px) {
  .page {
    margin: 2rem 10vw;
  }
}

/* Medium screens (tablets) */
@media (max-width: 1200px) {
  .page {
    margin: 2rem 15vw;
  }
}

/* Small screens (mobiles) */
@media (max-width: 768px) {
  .page {
    margin: 1rem 5vw;
  }
}

/* Extra small (very narrow phones) */
@media (max-width: 480px) {
  .page {
    margin: 1rem 2vw;
  }
}
