.page {
  display: flex;
  flex-direction: column;
  padding: 2rem 20vw;
  margin: 0 auto;
  min-height: 100vh;
}


@media screen and (max-width: 768px) {
  .page {
    gap: 1rem;
    padding: 0.5rem;
  }
}

