.main {
  display: flex;
  flex-direction: row;
  gap: inherit;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-columns: minmax(100px, 1fr);
  overflow-x: scroll;
  gap: inherit;
}

.grid > *:nth-child(odd) {
  grid-row: 1;
}

.grid > *:nth-child(even) {
  grid-row: 2;
}

.posts {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.page {
  padding: 2rem 5rem;
}



@media screen and (max-width: 768px) {

  .page {
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .grid {
    flex-wrap: wrap;
  }
  .page {
    padding: 0.5rem 2rem;
  }
}

