.grid {
  display: flex;
  flex-direction: row;
  gap: inherit;
}

.posts {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.page {
  padding: 2rem 5rem;
}



@media screen and (max-width: 768px) {

  .page {
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .grid {
    flex-wrap: wrap;
  }
  .page {
    padding: 0.5rem 2rem;
  }
}

