.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
}

.caption {
  justify-self: stretch;
}

.source {
  font-weight: 500;
  color: var(--secondary);
}