.collapseButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


@media screen and (max-width: 768px) {
    .collapseButtons {
        display: none;
    }
    .expandButtons {
        display: flex;
    }
}

.expandButton {
    display: none;
}