.checkboxOption {
    border-radius: var(--tag-radius);
    border: 1px solid var(--border);
    display: flex;
    width: clamp(8rem, 12vw, 13.5rem);
    height: clamp(3rem, 3vw, 4rem);
    padding: 0.75rem 1.5rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;


    background-color: var(--accent);
}

.checkboxOption:focus-visible {
    display: none;
}

.checkboxOption:hover {
    border-color: var(--primary);

    .input {
        border-color: var(--primary);
    }
}

.checked {
    background-color: var(--primary);
    pointer-events: none;
}

.checked .input {
    border: 1px solid var(--text);
    background-color: var(--text);
}

.input {
    width: clamp(1.5rem, 1vw, 2rem);
    height: clamp(1.5rem, 1vw, 2rem);
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--border);
    will-change: background-color;
    transition: all 0.2s ease;

    -webkit-appearance: none;
    appearance: none;
}

.input:focus {
    outline: 1px solid var(--primary-lighten);
}


.label {
    width: 100%;
    cursor: pointer;
}