nav#topbar {
  background-color: var(--accent);

  width: 100%;
  max-height: 136px;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;


  .buttons {
    display: flex;

    gap: 0.75rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .links {
    display: flex;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .burger-menu {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  nav#topbar {
    .links {
      display: none;
    }
  }
}

@media screen and (max-width: 1440px) {
  nav#topbar {
    .buttons {
      display: none;
    }
    .burger-menu {
      display: flex;
    }
  }
}
