.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: fit-content;
}

.quote {
    display: flex;
    min-height: clamp(5rem, 1vw, 18.75rem);
    padding: 3rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    align-self: stretch;

    border-radius: var(--card-radius);
    background: var(--accent);
}

.text {

}

.author {
    color: var(--secondary);

}