.links {
  position: absolute;
  display: flex;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  will-change: transform;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.link {
  font-size: 1.2rem;
  color: var(--text);
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.link:hover, .link:focus-visible {
  color: var(--primary);
  cursor: pointer;
  outline: none;
}