.grid {
    display: flex;
    flex-direction: column;
    gap: clamp(0.2rem, 1vw, 2rem);
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    place-content: center;
    width: 100%;
    gap: inherit;
}

@media screen and (max-width: 1024px) {
    .row {
        flex-wrap: wrap;
    }
}